<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMMA_system</title>
  </head>
  <body>
    <form action="#" method="post" enctype="multipart/form-data">
      <input name="business_email" type="email" placeholder="email" required>
      <br>
      <input name="business_password" type="password" placeholder="password" required>
      <br>
      <input type="submit">
    </form>
  </body>
</html>
